.mz-productdetail {
    overflow: auto;
    border-top: 1px solid #ccc;
    .mz-productdetail-qty {
      font-family: PNMedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      margin: 0 20px 0 10px;
      padding: 16px 4px 17px;
      width: 48px;
      height: 48px;
      border: 1px solid #ccc;
      text-align: center;
      line-height: 1;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      letter-spacing: 1;
      -webkit-transition: opacity 600ms;
      -moz-transition: opacity 600ms;
      transition: opacity 600ms;
    }
    .mz-productdetail-price {
        float: right;
        width: 30%;
        text-align: right;
        clear: none;
        .mz-price {
            font-size: 24px;
            text-align: right;
            color: #cf1c00;
            border-top: 1px solid transparent;
        }
    }
    .mz-productcodes {
        float: left;
        width: 65%;
        clear: none;
        h2 {
            margin: 0;
        }
    }

    .mz-price-msrp {
        display: block;
        font-size: @fontSizeSmall;
        color: lighten(@textColor, 15%);
        .mz-price {
            font-size: @fontSizeSmall;
        }
    }

    .mz-productdetail-notpurchasable {
        font-size: @fontSizeSmall;
        margin: 5px 0;
        color: #999;
    }

    .mz-productdetail-conversion {
        float: right;
        .clearfix();

    }

    .mz-productdetail-conversion-controls,
    .mz-productdetail-conversion-buttons {
        display: inline-block;
        vertical-align: middle;
    }

        .mz-productdetail-conversion-buttons .mz-button {
            display: inline-block;
            padding: 10px 15px;
            background: #fff;
            border: 1px solid #d51e00;
            color: #d51e00;
            font-size: 18px;
            text-transform: uppercase;
            text-decoration: none;
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
            font-family: PNRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
            border-radius: 0;
            &:hover {
                background: #d51e00;
                color: #fff;
            }
        }

    .mz-productbundle-measurements-product {
        clear: both;
    }

    .mz-productbundle-measurements-productname {
        font-weight: bold;
    }
}

.mz-productdetail-measurements .mz-propertylist,
.mz-productdetail-properties .mz-propertylist,
.mz-productdetail-bundleitems .mz-propertylist {
    float: left;
    max-width: 400px;
}
